[user]
	email = nphung0921@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
